.about-info {
    display: flex;
}

.desktop-view {
    display: flex;
}


.desktop-view .text {
    flex: 3
}

.desktop-view .face {
    flex: 1
}

.examples {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.other {
    padding: 5px;
}


@media only screen and (min-width: 769px) {
    .mob-view {
      display: none !important;
    }
    h2 {
        font-size: 4vh ;
    }
    
    p, li {
        font-size: calc(8px + 6 * ((100vw - 320px) / 680)) ;
        margin-right: 4vw;
    }
    
}

@media all and (max-width: 768px) {
    .desktop-view {
      display: none !important;
    }

    .mob-view {
        display: flex;
        flex-direction: column;
    }
    
    h2 {
        font-size: 7vw;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    p, li {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        margin-right: auto ;
    }
    ul {
        padding-left: 6vw;
    }
    .mob-view img {
        max-width: 80%;
    }

    .face {
        text-align: center;
    }
}
  
